<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">

        <h1 class="title container mt-4">Register</h1>
        <form class="container mt-4 row" th:action="@{/auth/register}" th:object="${user}" method="post">
            <div class="col-md-8 offset-md-2">
                <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
        </div>
        <div class="col-md-8 offset-md-2">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <div class="col-md-8 offset-md-2">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}" style="color: red;"></p>
        </div>
    </form>
        <p> Have proile already? <a href="/login">Click to Login</a></p>
</div>
</body>
</html>